.background_v2{background-color:#a2ffa2;}
.font_v2{color:black;font-size:15px;}
.midasi_title_v2{color:black;font-size:45px;}
.midasi_title_desc_v2{color:black;font-size:15px;}
.text_v2{color:black;font-size:15px;}