.updates{color:black;padding-left:100px;padding-top:50px;}
.updateBox{color:black;}
.updateTitle{color:green;padding-left:10px;font-size:40px;padding-top:120px;}
.updateDescription{color: black;padding-left:20px;font-size:22.5px;}
.h{color:red;font-size:25px;padding-top:22.5px;}
.link{color:blue;}
.gd{font-size:25px;color:red;}
.red_txt{color:red;}