.body{color: black; background-color: white;}
.txt{text-align: left; padding-left: 750px; padding-top: 100px;}
.best_friend{padding-top: 512px;}
.best{text-align: center; color:white;}
.ni_ch_savanna{padding-left: 556px; padding-top: 512px;}